.icon
{
    width: 15px;
    height: 15px;
}
.icon img
{
    width: 20px;
    height: 20px;
}
.contactInfo span
{
    font-size: 20px;
}
.mainContainer
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 500px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    margin: 50px;
    margin-left: 400px;
}
.right h1
{
    color: #003147;
    margin-bottom: 10px;
}
.mainContainer .left
{
    background-color: #ff9100;
}
.mainContainer .right
{
    background-color: #3b0146;
}
.right h1
{
    color: white;
}
.left 
{
    color: white;
}
.mediaProfile
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 47px;
    margin-top: 30px;
    box-shadow: 5px 5px 25px rgb(35, 35, 35) ;
}
.left h1
{
    margin-left: 32px;
}
body
{
    background: url(/images/pngtree-some-color-drawing-on-a-dark-background-picture-image_3166508.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.sidebar a:hover{
    background:#4f015e;
  }